.auth-container {
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #f5f6fa;
  font-family: "Arial", sans-serif;
  flex-direction: column;
}

.auth-form {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  max-width: 90%;
  text-align: center;
}

.auth-form input {
  width: 100%;
  padding: 12px 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.auth-form button {
  width: 100%;
  padding: 12px 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.auth-form button:hover {
  background-color: #2980b9;
}

.auth-form p {
  margin-top: 8px;
  font-weight: bold;
}

