.Gallerymaindiv {
    margin-top: 8vh;
    width: 100vw;
    height: auto;
    background: linear-gradient(white, rgb(61, 98, 161));
    z-index: 100;
    box-shadow: 1pt rgba(0, 0, 0, 0.225);
}

.gallerygrid {
    gap: 20px;
    display: grid;
    grid-template-columns: (3, 1fr);
    margin: 2px;
}

.gallerycard {
    width: 80%;
    padding: 30px 30px;
    background-color: rgb(173, 226, 226);
}

.galleryheading {
    margin-top: 15vh;
    font-size: 50px;
    color: white;
    text-align: center;
}

.galleryheading span {
    background-color: rgb(18, 103, 137);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 25px;
    box-shadow: 0px 10px 25px rgba(0, 0, 255, 0.5);
}

/* ===================== */
/* 3D GALLERY ANIMATION */
/* ===================== */

.container3d {
    margin: 100px auto;
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: rotate3d 25s linear infinite;
}

@keyframes rotate3d {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.container3d span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.container3d span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s;
}

.container3d span img:hover {
    transform: translateY(-25px) scale(1.15);
}
