.Section2Acad {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 60px 8vw;
    background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);

}

.Section2Acadtext {
  width: 55%;
  background: white;
  padding: 30px;
  border-radius: 16px;
}

.Section2Acadtext ul {
  display: block;          
  list-style: disc;       
  padding-left: 25px;
  margin: 0;
}

.Section2Acadtext li {
  display: list-item;
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 12px;
  color: #2d3436;
}

/* Image section */
.Section2Acadimg {
  width: 45vw;
  display: flex;
  justify-content: center;
}

.Section2Acadimg img {
  width: 100%;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
  .Section2Acad {
    flex-direction: column;
    padding: 10px;
  }

  .Section2Acadtext,
  .Section2Acadimg {
    width: 80%;
  }

  .Section2Acadtext li {
    font-size: 10px;
  }
}

.section2h1{
    background-color: aqua;
}